* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5e7db;
  min-height: 100vh;
  display: grid;
}

header {
  background-color: #bca792;
  color: #fff;
  padding: 20px;
}

.titulo{
  font-size: 35px;
}

nav {
  background-color: #bca792;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

section {
  padding: 20px;
}

section h2 {
  margin-bottom: 10px;
}

.project {
  margin-bottom: 20px;
}

.desc{
  font-size:25px;
}

footer {
  background-color: #bca792;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.letra {
    color: #806d59;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    padding: 0 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .maquina {
    font-size: xx-large;
    display: block;
    white-space: nowrap;
    width: 35ch;
    animation: escribiendo 2s steps(25);          
    overflow: hidden;
    font-size: 50px;
  }
  
  span{
    animation: 0.6s parpadeo-cursor infinite;
  }

  @keyframes escribiendo {
    from {
      width: 0;
    }
  }

  @keyframes parpadeo-cursor {
    50% {
      opacity: 0;
    }
  }